body {
  width: 500px;
  background-color: #D0E1E4;
}

button {
  border-radius: 5%;
  background-color: #f0f6f7;
  box-shadow: none;
  border: 0px solid transparent;
  transition: 0.25s;
}

button:hover {
  font-size: 125%;
  color: #333333;
  background-color: #9FC2C8;
}

#speed {
  text-align: center;
}

#speeder {
  display: flex;
  flex-direction: row;
}

#speedy {
  margin-top: 0px;
  padding-top: 5px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 15px;
  width: 0px;
  transition: .25s;
}

#speedy:hover {
  background-color: #768ade;
}

#speeder #speed_help {
  visibility: hidden;
  color: #333333;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  position: inherit;
  width: 80%;
}

#speeder:hover #speed_help {
  visibility: visible;
  width: 100%;
  color: #768ade;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.information {
  font-size: 25px;
}